.info {
    display: flex;
    align-self: center;
    justify-self: center;
    width:100%;
    margin-top: 48px;
    margin-bottom: 30px;
    font-family: 'Rage Italic', sans-serif;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
}

.container {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 768px) {
    

    .infoImg {
        display: none;
    }

    .info {
        font-size: 3em;
    }

    .info-content-container {
        display:flex;
        justify-content: center;
    }

    .infoIntro {
        display: flex;
        flex-direction: column;
        width: 75% !important;
        justify-content: center;
        align-content: center;
        align-self: center;
        justify-self: center;


    }

    
}