.portfolio {
    text-align: center;
    width:100%;
    margin-top: 48px;
    margin-bottom: 30px;
    font-family: 'Rage Italic', sans-serif;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
}

#portfolio-section {
    margin-bottom: 200px;
}

.portfolioLinks{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

