.resume {
    text-align: center;
    width:100%;
    margin-top: 48px;
    font-family: 'Rage Italic', sans-serif;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
}

.row {
    display:flex;
    flex-direction: row;
}

.headerBox, .introBox{
    margin-top: 50px;
}

.introBox {
    margin-right: 50px;
    margin-left: 50px;

}

.project-header {
    display:flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.projects {
    margin-top: 50px;
    margin-bottom: 50px;
}

.projectBox{
    margin: 50px 78px 8px 78px;
}

.skillsContainer {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.skillsBox  {
    width: 100% !important;
    display:flex; 
    flex-wrap: wrap;
}

.skills-list {
    display:flex;
    flex-wrap:wrap !important;
    width: 100% !important;
    list-style-type: disc !important;

}

.skill-list-item {
    display:flex;
    flex-wrap: wrap !important;
    width: 20% !important;
    list-style-type: disc !important;
    
}

.experience-container{
    width: 90%;
}

.experience-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
}

/* TODO: 
    Media queries
*/

@media screen and (max-width: 768px) {
    .skillsBox{
        flex-direction: row !important;
    }
    .skills-list {
        flex-direction: column;
        align-content: center;
    }
    .list1{
        float: right;
    }
    .list2{
        float: left;
    }

    .education-box {
        display:flex;
        flex-direction: column;
    }

}